NM_CONTROLLED=no
BOOTPROTO=none
ONBOOT=yes
IPADDR={{ ipv4_eth2 }}
NETMASK=255.255.255.0
DEVICE=eth2
PEERDNS=no
IPV6INIT=no
IPV6_DEFROUTE=no
IPV4_FAILURE_FATAL=no
IPV6_AUTOCONF=no
IPV6ADDR={{ ipv6_eth2 }}

